.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 15px;
  position: relative;
}

@media (--breakpoint-tablet) {
  .drawer {
    display: none;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
  }
}
