.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
}

@media (--breakpoint-tablet) {
  .drawer {
    display: none;
  }
}
