.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black-blue-color);
  border-radius: var(--radius20);
  gap: var(--gap16);
  width: 100%;
  min-width: max-content;
  margin: 13px;
  padding: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--gap5);
  width: 100%;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  gap: var(--gap20);
}

.activeCard {
  cursor: pointer;

  &:focus,
  &:hover {
    outline: 3px solid var(--primary-hover-color);
  }

}

.nameWrapper {
  align-items: flex-end;
}

.price {
  font-weight: var(--font-weight-semi-bold);
}

.valueBlock {
  color: var(--white-color);
  font-size: var(--font-size14);
}

.disables {
  color: var(--black-gray-color);
}

.shortName {
  font-weight: var(--font-weight-semi-bold);
  color: var(--white-color);
  font-size: var(--font-size18);
}