.card {
  display: flex;
  justify-content: space-between;
  gap: var(--gap10);
  border-radius: var(--radius20);
  background-color: var(--violet-dark-color);
  width: 100%;
  padding: 15px;
  min-width: 350px;
  margin-bottom: 10px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nameWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap5);
}

.value {
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size18);
}

.shortName,
.name,
.value {
  color: var(--white-color);
}

.name {
  font-size: var(--font-size14);
}
