.container {
  width: 100%;
  display: flex;
}

.title {
  margin: 0;
  color: var(--white-color);
  font-size: var(--font-size32);
}

.description {
  color: var(--gray-color);
  font-size: var(--font-size16);
}
