.input {
  position: relative;
}

.logo {
  position: absolute;
  top: 40px;
  right: 55px;
}

.shortName {
  position: absolute;
  top: 43px;
  right: 15px;
  color: var(--white-color);
  font-size: var(--font-size16);
  font-weight: var(--font-weight-semi-bold);
}
