.card {
  display: flex;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: var(--radius20);
  background-color: var(--black-blue-color);
  gap: var(--gap10);
  width: 100%;
  min-width: 350px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.name {
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size16);
  color: var(--white-color);
}

.date {
  font-size: var(--font-size12);
  color: var(--black-gray-color);
}

.moneyIn,
.moneyOut {
  font-size: var(--font-size14);
}

.moneyIn {
  color: var(--black-gray-color);
}

.moneyOut {
  color: var(--white-color);
}

.moneyWrapper {
  display: flex;
  gap: var(--gap5);
  flex-direction: column;
  align-items: flex-end;
}