.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
  padding: 25px;
  border-radius: var(--radius20);
  background-color: var(--violet-dark-color);
  gap: var(--gap20);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size16);
  color: var(--white-color);
}
