.error {
  position: absolute;
  top: 20px;
  right: 20px;
  left: 20px;
  padding: 20px;
  border-radius: var(--radius10);
  display: flex;
  color: var(--white-color);
  font-family: inherit;
  font-size: var(--font-size16);
  background-color: var(--red-color);
  justify-content: center;
  box-shadow: var(--shadow-1);
}