.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap30);
  margin-top: 40px;
  margin-bottom: 50px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap5);
}

.name {
  font-size: var(--font-size18);
  color: var(--white-color);
}

.modal {
  display: none;
}

.email {
  font-size: var(--font-size16);
  color: var(--gray-color);
}

@media (--breakpoint-tablet) {
  .container {
    cursor: pointer;
    flex-direction: row;
    justify-content: flex-end;
    padding: 15px;

    &:focus,
    &:hover {
      background-color: var(--violet-dark-color);
    }
  }

  .image {
    width: 28px;
  }

  .wrapper {
    display: none;
  }

  .modalWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap10);
  }
  
  .activeContainer {
    background-color: var(--violet-dark-color);
  }

  .modal {
    display: flex;
    gap: var(--gap30);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 25px;
    left: 60%;
    background-color: var(--violet-dark-color);
    border-radius: var(--radius16);
    box-shadow: var(--shadow-3);
    width: 300px;
    height: 180px;
    z-index: 2;
  }

  .name {
    font-size: var(--font-size20);
  }

  .modalWrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap5);
  }

  .modalBackdrop {
    display: none;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--modal-color);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  .modalBackdropActive {
    display: flex;
  }

  .button {
    width: 80%;
  }
}
